:root {
  line-height: 1.6;
  font-weight: 400;
  color: #111;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

body,
button,
input,
textarea,
select {
  font-family: inherit;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
